<footer class="site-footer">

  <div class="wrapper">

    <p class="footer-heading">About</h2>

    <p>
      This site complements our work:
      <em>
        Querying Wikidata: Comparing SPARQL, Relational and Graph Databases
      </em>
      (by
      <a href="http://www.dcc.uchile.cl/~dhernand/">Daniel Hernández</a>,
      <a href="http://www.dcc.uchile.cl/~ahogan/">Aidan Hogan</a>,
      <a href="http://web.ing.puc.cl/~criveros/">Cristian Riveros</a>,
      Carlos Rojas,
      Enzo Zerega)
      Our description aims to make our experiments repeatable.
    </p>

  </div>

</footer>
